@media screen and (max-width: 600px) {
  body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main, .container, .content {
    width: 90%;
    margin: 0 auto;
  }
  .gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .gallery img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
  }
  p, h1, h2, h3, h4, h5, h6 {
    text-align: center;
  }
  .social-icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
  }
  .thumbnails {
flex-direction: column;
margin: 0;
  }
   .thumbnails> div{
    width: 100%;
    padding-left:0 ;
   }
    .thumbnails a{
      margin: 0 0 1.5em 0;
    }
  footer {
    text-align: center;
    font-size: 0.9rem;
    padding: 10px 0;
  }
}